---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import sarah from "../assets/images/sarah.jpg";
import Card from "../components/Card.astro";
---

<BaseLayout title="Home">
  <section class="hero-grid">
    <div class="hero-content">
      <article class="herotext">
        <h1>Adam Buschemia Business Consultant</h1>
        <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
        <button class="cta-button">Book a Meeting</button>
      </article>
    </div>
    <div class="hero-image">
      <Image alt="sarah" src={sarah} />
    </div>
    <div class="cards">
  <Card style="primary" buttonProps={{ style: "primary" }} h6="Finance & Restructuring" tekst="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.">Learn More</Card>
  <Card style="primary" buttonProps={{ style: "primary" }} h6="Our Approach" tekst="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.">Discover</Card>
  <Card style="primary" buttonProps={{ style: "primary" }} h6="Consultalk Result" tekst="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.">Get Started</Card>
    </div>
  </section>
</BaseLayout>

<style>

body {
  margin: 0;
  padding: 0;
}

.hero-grid {
  background-color: var(--primary-color-03);
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;  
  gap: 2rem;
  width: 100%;
  max-width: 100vw; 
  margin: 0 auto;
}

.hero-content {
  grid-column: 1 / 2; 
  grid-row: 1 / 2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.hero-image {
  grid-column: 2 / 3; 
  grid-row: 1 / 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100vh; 
}

.hero-image img {
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
}

.cards {
  grid-column: 1 / 3; 
  grid-row: 1 / 6; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  align-self: end; 
  justify-content: center;
  justify-items: center;

}

.herotext h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-color-02);
}

.herotext p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--secondary-color-02);
}

.cta-button {
  padding: 12px 24px;
  background-color: var(--primary-color-01);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto; 
  }

  .hero-image {
    grid-column: 1; 
    height: 50vh; 
  }

  .cards {
    grid-column: 1; 
    grid-row: 3; 
    grid-template-columns: 1fr; /
    margin-top: 0; 
    align-self: center; 
  }
}
</style>