---
const { style = "btn-primary", link = "#", label = "Button", target = "_self" } = Astro.props;
---

<a href={link} target={target} class={`btn ${style}`}>{label}</a>

<style>
  @layer components {
    .btn {
      display: inline-block;
      font-size: 1rem;
      padding: 0.25rem 1rem; 
      border-radius: 1.25rem; 
      border: 2px solid transparent;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
      text-decoration: none;
      background-color: var(--primary-color-03);
      color: var(--secondary-color-02);
      padding: 1rem 2rem; 
      border-radius: 6.25rem; 
    }

    .btn-primary {
      background-color: var(--primary-color-03);
      color: var(--secondary-color-02);
      padding: 1rem 2rem; 
      border-radius: 6.25rem; 
    }

    .btn-primary:hover {
      background-color: var(--secondary-color-02);
      color: var(--primary-color-03);
      border-color: var(--primary-color-03);
    }

    .btn-secondary {
      background-color: var(--primary-color-01);
      color: var(--primary-color-03);
      padding: 1rem 2rem; 
      border-radius: 6.25rem; 
    }

    .btn-secondary:hover {
      background-color: var(--primary-color-03);
      color: var(--secondary-color-02);
    }

    .btn-login {
      background-color: var(--primary-color-01);
      color: var(--secondary-color-02);
      padding: 0.5rem 1rem; 
      border-radius: 1.25rem; 
      font-size: 0.9rem; 
    }

    .btn-login:hover {
      background-color: var(--primary-color-03);
      color: var(--secondary-color-02);
      border-color: var(--primary-color-01);
    }
  }
</style>