---
import EmployeeCard from "./EmployeeCard.astro";
const { data } = Astro.props;

---
<section>
  {data.map((employee) => <EmployeeCard {employee} />)}
</section>

<style>
  @layer components {
   

    section {
      --bg-section: #fff;
      --text-section: red;
      --bg-card: #fff;
      --text-card: blue;
      padding: 2rem;
      color: var(--text-section);
      background: var(--bg-section);
    }
  }
</style>
