---

---
  
  <div class="newsletter">
    <div class="text">
      <h2>Subscribe Our Newsletter</h2>
      <p>Build stronger Customer Relationships with Consultalk</p>
    </div>
    <div class="sign-up">
      <input class="newsletter-input" placeholder="Your email address" type="email" id="text" required />
      <a href="#" class="btn-secondary">Subscribe</a>
    </div>

  </div>
     <div class="footer">
      <div class="footer-logo">
        <a href="/" class="footer-logo-link">AskExperts</a>
      </div>
      <div class="footer-copyright">
        <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
      </div>
    </div>
  <style>

/* newsletter */
html {
    --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
}

  .newsletter {
    background: var(--primary-color-03);
    display: flex;
    justify-content: space-between;
    padding: 80px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
    max-widthth: 1200px;
    margin: 0 auto;
    margin-bottom: 130px;
  
    /* mønster */
  &::before {
    opacity: 0.6;
    transform: rotate(40deg);
    --square-count: 14;
    --square-size: 1.34rem;
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count)* var(--square-size));
    z-index: 2;
    content: "";
    position: absolute;
    inset: -150px -100px auto auto;
    inline-size: calc(round(var(--_square-sum), var(--_square-size)) - var(--_square-half));
    aspect-ratio: 1;
    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B, #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
    mask: var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size), var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
  }

  &::after {
    content: "";
    position: absolute;
    background: var(--primary-color-02);
    width: 150px;
    height: 200px;
    border-radius: 20px;
    z-index: 2;
    right: -40px;
    bottom: -120px;
    transform: rotate(45deg);
  }

 
    & h2, p {
        color: var(--secondary-color-02);
    }
        .sign-up {
            z-index: 3;
            input {
                border-radius: 100px;
                background: var(--secondary-color-02);
                padding: 18px;
                width: 310px;
                z-index: 10;
            } 
    }
}

 .footer {
    padding: 46px;
    background-color: var(--navigation-color-01);
    color: var(--secondary-color-02);
    text-align: center;
    .footer-logo {
      padding-bottom: 36px;
      margin-bottom: 36px;
      border-bottom: 1px solid #707070;
      a {
        font-size: 1.5rem;
      }
    }
   .footer-copyright{
    text-align: center;
   } 
  }

  @media (max-width: 768px) {
  .newsletter {
    padding: 20px; 
  }

  .newsletter h2 {
    font-size: 1.2rem; 
  }

  .newsletter p {
    font-size: 1rem; 
  }

  .sign-up input {
    padding: 10px; 
    width: 100%; 
    font-size: 0.85rem; 
  }

  .footer-logo a {
    font-size: 1.2rem; 
  }

  .footer {
    padding: 20px; 
  }


  .btn-secondary {
    font-size: 0.85rem; 
    padding: 10px 18px; 
    border-radius: 20px; 
    display: block; 
    width: 100%; 
  }
}


</style>