---
import Popover from "../components/Popover.astro";


---

<header class="header">
  <div class="header__logo">
    <a href="/" class="header__logo-link">AskExperts</a>
  </div>

  <nav class="header__nav">
    <ul class="header__nav-list">
      <li><a href="/" class="header__nav-item">Home</a></li>
      <li><a href="/case-study" class="header__nav-item">Case Study</a></li>
      <li><a href="/team" class="header__nav-item">Team</a></li>
      <li><a href="/about" class="header__nav-item">About</a></li>
    </ul>
  </nav>
  <Popover />
  <!-- <div class="header__actions">
    <a href="/login" class="loginbtn">Login</a>
  </div> -->
</header>

<style>

@layer components {
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--navigation-color-01);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
  }

  .header__logo-link {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color-02);
    text-decoration: none;
  }

  .header__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
  }

  .header__nav-item {
    text-decoration: none;
    color: var(--secondary-color-02);
    font-size: 1rem;
  }

  .header__nav-item:hover {
    color: var(--primary-color-01);
  }




  /* mobil */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .header__logo-link {
    font-size: 1.2rem; 
  }

  .header__nav-list {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .header__nav-item {
    font-size: 0.9rem; 
  }

  .loginbtn {
    padding: 0.4rem 1rem; 
    font-size: 0.9rem; 
  }
}   
 }
</style>
