---

---


<button popovertarget="popup" class="btn btn-primary">Login</button>

<div popover id="popup">
  <h4>Dashboard Login</h4>
  <form action="/submit-form" method="POST">
    <input placeholder="Enter Email" type="email" name="email" required />
    <input placeholder="Enter Password" type="password" name="password" required />
    <input class="btn btn-secondary submit" type="submit" value="Show Dashboard" />
  </form>
</div>

<style>

  [popover]::backdrop {
    background: #0004;
    backdrop-filter: blur(16px);
  }

  .btn-primary {
    background-color: var(--primary-color-01);
    font-size: 1rem;
    padding: 8px 20px; 
    border-radius: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: var(--secondary-color-02);
    color: var(--primary-color-01);
  }

  /* Stil til popover-indholdet */
  #popup {
    display: none; 
    min-width: 30rem; 
    padding: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    background-color: #181818;
    border-radius: 1.5rem;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
  }

  /* når popoveren skal åbnes */
  #popup:popover-open {
    display: flex;
  }

  /* Tekststil */
  #popup h4 {
    color: #fff;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.16; 
  }

 
  input {
    border-radius: 1.5rem;
    background: var(--secondary-color-02);
    padding: 0.75rem 1rem;
    border: none; 
    margin-bottom: 1rem; 
    width: 100%;
  }

  .submit {
    background-color: var(--primary-color-01);
    color: var(--secondary-color-02);
    border: none; 
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
  }

  .submit:hover {
    background-color: var(--secondary-color-02);
    color: var(--primary-color-01);
  }
</style>